.intro
{
  background-color: #ee4608;
}
.submitButton
{
  background-color: #71d7f0;
  width: 100%;
}
.footer
{
  background-color: #76fd81;
}
.Enquiry
{
  background-color: #857d7d;
}
#h1
{
  background-color: #b85621;
  color: #006c1b;
}
.link
{
  color:#0e1618;
}
.intro
{
  text-align: center;
}